<div class="card">
    <main class="main d-flex align-items-center">
      <div class="container-fluid">

            <div class="row">
                    <label  class="col-md">Upload file</label>
                    
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" (change)=file($event)>
                            <label class="custom-file-label" for="customFile">
                            </label>
                          </div>
                          <!-- <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>                     -->
                  </div>
                  <!-- <h1>{{success.bytesTransferred}}/{{success.totalBytes}}</h1> -->
                  <button (click)="fire()">Done</button>
          </div>
          </main>
          </div>