<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card ">
              <div class="card-body">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <div class="card"><div class="card-body">
                      <h4 class="display-4">in: {{foldername}}</h4>
                    </div> </div>
                      <div *ngIf="highest==true">
                      <button type="button" class="btn btn-primary">Back</button>
                    </div>
                    </div>
                  </div>
                  <h5>
                  <ul>
                      <li>1st Year</li>
                      <li>2nd Year</li>
                      <li>3rd Year</li>
                  </ul>
                </h5>
              </div>
            </div>
        </div>
    </div>
</div>
</main>
</div>