<div class="app-body">
    <main class="main d-flex align-items-center">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
        <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card ">
              <div class="card-body">
                    <div class="container">
                        <div class="card">
                          <div class="card-body" *ngIf='highest==true'>
                      <h5>In: Main Moodle</h5>
                    </div>
                    <div class="card-body" *ngIf='highest==false'>
                      <h5>In: {{display_list}} {{tracker}}</h5>
                    </div>
                  </div>
                      <div *ngIf="highest==false">
                      <button type="button" class="btn btn-primary" (click)="back()">Back</button>
                    </div>
                    </div>
                    <hr/>

                  <!-- <div>
                  <h5>
                  <ul>
                      <li (click)="func();">1st Year</li>
                      <li>2nd Year</li>
                      <li>3rd Year</li>
                      <li>Final Year</li>
                  </ul>
                </h5>
              </div> -->

              <div class="row">
                <div class="col-sm-1" *ngFor="let dis of display_list; let i = index;">
                  <div (dblclick)="open_folder(i);">
                  <img src="../../assets/img/folder.svg" alt="folder_icon" sizes="5px" height="50px" width="50px"><br>{{dis.name}}</div>
                </div>
                <!-- <div *ngIf="display_list.files.length>0">
                  <p>here</p>
                <div class="col-sm-1" *ngFor="let dis1 of display_list.files; let i = index;">
                  <div (dblclick)="open_file(i);">
                  <img src="../../assets/img/file.png" alt="folder_icon" sizes="5px" height="50px" width="50px"><br>{{dis1.name}}</div>
                </div>
              </div> -->
            </div>

              </div>
            </div>
        </div>
    </div>
</div>
</main>
</div>
