<div class="app-body">
    <main class="main d-flex align-items-center">
  
      <div class="container-fluid">
          <div class="row">
              <div class="col">
            <div class="card center_wala" style="width: 75%;">
                    <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <button type="button" class="btn btn-success" (click)="goToHome()">Home</button>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
      </div>
</main>
</div>