<div class="app-body">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <main class="main d-flex align-items-center">
      <div class="container-fluid">
        <!-- ROW 1 -->
          <div class="row">
           <div class="col-lg mx-auto">
             <!-- card -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Student's Dashboard</h5>
                <p class="card-text">Get all your work done here</p>
                <p>Name: <b>{{session_data.name}}</b> | Email: <b>{{session_data.email}}</b> | Department: <b>{{session_data.department}}</b></p>
                <!-- jumbo -->
                <div class="jumbotron" *ngIf="ins_data!=null">
                  <h1 class="display-4">{{ins_data.ins_name}}</h1>
                  <p class="lead">Simplecademy</p>
                  <hr class="my-4">
                  <p>{{ins_data.ins_type}}</p>
                </div>
                <!-- jumbo ends -->
              </div>
            </div>
            <!-- card ends -->
</div>
</div>
<!-- ROW 1 ENDS -->

<!-- ROW 2 -->
<div class="row text-center">
  <div class="col-lg mx-auto">
    <button type="button" class="btn btn-primary btn-lg" (click)="goToChat();">Chat</button>
    </div>
    <div class="col-lg mx-auto">
      <button type="button" class="btn btn-primary btn-lg" (click)="goToMoodle();">Moodle</button>
      </div>
      <div class="col-lg mx-auto">
        <button type="button" class="btn btn-primary btn-lg" (click)="goToFeedback();">Feedback</button>
        </div>
        <div class="col-lg mx-auto">
          <button type="button" class="btn btn-primary btn-lg" (click)="goToImplinks();">IMP Links</button>
          </div>
    </div>
<!-- ROW 2 Ends here -->
</div>
</main>
</div>