<div class="app-body">
        <main class="main d-flex align-items-center">
      
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="card mx-4">
                  <div class="card-body p-4">
                      <h1>Registration</h1>
                      <p class="text-muted">Make a new Account</p>
                  </div>
                  <div class="card-footer p-4">
                    <div class="row">
                      <div class="col-6">
                        <button (click)="goToTeacherReg()" class="btn btn-block btn-success" type="button"><span>Teacher Registration</span></button>
                      </div>
                      <div class="col-6">
                        <button (click)="goToStudentReg()" class="btn btn-block btn-success" type="button"><span>Student Registration</span></button>
                      </div>
                    </div>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>