<div class="card">
    <main class="main d-flex align-items-center">
      <div class="container-fluid">

            <div class="row">
                    <label  class="col-md">Upload file</label>
                    
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" (change)=file($event)>
                            <label class="custom-file-label" for="customFile">
                            </label>
                          </div>
                    
                  </div>
                  <button (click)="fire()">Done</button>
          </div>
          </main>
          </div>