<div class="app-body">
    <main class="main d-flex align-items-center">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
            <div class="container-fluid">
                <div class="row">
    <div class="col-sm" style="text-align: center;">
        <!-- heading -->
        <h2>Welcome to <span class="badge badge-secondary">{{ins_name}}</span> SimpleCademy</h2>
        <br>
    </div>
</div>
<hr>
<div class="row text-center">
  <p><u>NOTICE:</u></p>
    <div class="col-sm">
        <div class="card mx-4">
            <div class="card-body p-4">
                <h3 class="card-title">1st Year</h3>
                <!-- *ngIf="first.length==0" -->
                <div *ngIf="first.length!=0">
                <div class="jumbotron jumbotron-fluid" *ngFor="let f of first; let i=index;" style="background-image: linear-gradient(rgb(255, 255, 255) , rgb(218, 218, 218));" (click)="clicker_first(i,1)">
                    <div class="container">
                      <h5 class="display-5">{{f.title}}</h5>
                      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
                      <marquee behavior="scroll" direction="left">{{f.desc}}</marquee>
                      <h6 class="text-muted">For Date:{{f.for_date}}</h6><h6 class="text-muted">Date of notice:{{f.given_date}}</h6>
                    </div>
                  </div>
                </div>
                <div *ngIf="first.length==0">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <h4 class="display-5">No Notice</h4>
                          <!-- <marquee behavior="scroll" direction="left">No Notice</marquee> -->
                        </div>
                      </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card mx-4">
            <div class="card-body p-4">
                <h3 class="card-title">2nd Year</h3>
                <div *ngIf="second.length!=0">
                <div class="jumbotron jumbotron-fluid" *ngFor="let s of second; let i=index;" style="background-image: linear-gradient(rgb(255, 255, 255) , rgb(218, 218, 218));" (click)="clicker_first(i,2)">
                    <div class="container">
                      <h5 class="display-5">{{s.title}}</h5>
                      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
                      <marquee behavior="scroll" direction="left">{{s.desc}}</marquee>
                      <h6 class="text-muted">For Date:{{s.for_date}}</h6><h6 class="text-muted">Date of notice:{{s.given_date}}</h6>
                    </div>
                  </div>
                </div>
                <div *ngIf="second.length==0">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <h4 class="display-5">No Notice</h4>
                          <!-- <marquee behavior="scroll" direction="left">No Notice</marquee> -->
                        </div>
                      </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card mx-4">
            <div class="card-body p-4">
                <h3 class="card-title">3rd Year</h3>
                <div *ngIf="third.length!=0">
                <div class="jumbotron jumbotron-fluid" *ngFor="let t of third; let i=index;" style="background-image: linear-gradient(rgb(255, 255, 255) , rgb(218, 218, 218));" (click)="clicker_first(i,3)">
                    <div class="container">
                      <h5 class="display-5">{{t.title}}</h5>
                      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
                      <marquee behavior="scroll" direction="left">{{t.desc}}</marquee>
                      <h6 class="text-muted">For Date:{{t.for_date}}</h6><h6 class="text-muted">Date of notice:{{t.given_date}}</h6>
                    </div>
                  </div>
                </div>
                <div *ngIf="third.length==0">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <h4 class="display-5">No Notice</h4>
                          <!-- <marquee behavior="scroll" direction="left">No Notice</marquee> -->
                        </div>
                      </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card mx-4">
            <div class="card-body p-4">
                <h3 class="card-title">Final Year</h3>
                <div *ngIf="final.length!=0">
                <div class="jumbotron jumbotron-fluid" *ngFor="let f of final; let i=index;" style="background-image: linear-gradient(rgb(255, 255, 255) , rgb(218, 218, 218));" (click)="clicker_first(i,4)">
                    <div class="container">
                      <h5 class="display-5">{{f.title}}</h5>
                      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
                      <marquee behavior="scroll" direction="left">{{f.desc}}</marquee>
                      <h6 class="text-muted">For Date:{{f.for_date}}</h6><h6 class="text-muted">Date of notice:{{f.given_date}}</h6>
                    </div>
                  </div>
                </div>
                <div *ngIf="final.length==0">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <h4 class="display-5">No Notice</h4>
                          <!-- <marquee behavior="scroll" direction="left">No Notice</marquee> -->
                        </div>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- 1st row ends here -->
<div class="row text-center">
  <u><p>HIGHLIGHTS:</p></u>
  <div class="col-sm">
    <div class="card mx-4">
        <div class="card-body p-4">
          <h3 class="card-title" style="border: solid rgb(139, 199, 255);">College Highlights</h3>
          <div class="jumbotron green_background jumbotron-fluid" style="text-align: left;" *ngFor="let f of highlights; let i=index;" (click)="clicker_second(i)">
            <div class="container"><h2><b>{{i+1}}</b></h2>
              <!-- <h5 class="display-5">{{f.title}}</h5> -->
              <h2>{{f.title}}</h2>
              <p class="lead">{{f.desc}}</p>
            </div>
          </div>
</div>
</div>
</div>
</div>
<!-- 2nd row ends here -->

<!-- <div class="row text-center">
  <u><p>PLACEMENTS:</p></u>
  <div class="col-sm" *ngFor="let p of placement">
    <div class="card mx-4">
        <div class="card-body ">
          <h3 class="card-title" style="border: solid rgb(139, 199, 255);">{{p.name}} </h3>
          <div class="card" style="width: 18rem; background-color: rgb(187, 219, 255);" >
            <img src={{p.link}} class="card-img-top">
            <div class="card-body">
              <p class="card-text">
                placed in <b>{{p.company}}</b>
              </p>
            </div>
          </div>
</div>
</div>
</div>
</div> -->

<!-- temp -->
<u><p>PLACEMENTS:</p></u>
<div class="row row-cols-4 text-center">
  
  <div class="col" *ngFor="let p of placement">
    <div class="card" style="width: 18rem;">
      <img src={{p.link}} class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{p.name}}</h5>
        <p class="card-text"> placed in {{p.company}}</p>
      </div>
    </div>
  </div>

</div>
<!-- 3rd row ends here -->
<div class="row text-center"><u><p>VIDEOS:</p></u>
  <div class="col-md">
    <iframe width="420" height="315"
src="https://www.youtube.com/embed/lJqsebLP5j8">
</iframe>
  </div>
  <div class="col-md">
    <iframe width="420" height="315"
src="https://www.youtube.com/embed/VpW9hUDJefg">
</iframe>
  </div>
  
</div>
<!-- 4th row ends here -->
</div>
</main>
</div>
