h3 {
  border: solid goldenrod;
  border-radius: 5px;
}
* {
  padding: 1px;
}
.badge {
  border: solid rgb(139, 199, 255);
}
.green_background{
  background-color: rgb(185, 255, 209);
}
#grad {
  background-image: linear-gradient(to right, red , yellow);
}