<div class="app-body">
    <main class="main d-flex align-items-center">
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
            <div class="container-fluid">
                <div class="row">
    <div class="col-sm" style="text-align: center;">
        <!-- heading -->
        <h2>Welcome to <span class="badge badge-secondary">{{ins_name}}</span> SimpleCademy</h2>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm">
        
    </div>
</div>
</div>
</main>
</div>